


<!DOCTYPE html>
<html>
<head>
	<title>HTML Tp PDF</title>
	<!-- Latest compiled and minified bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<style>
		body{
			background-color: #18546c;
		}

		.card{
			background-color: #083c57;
			padding: 50px 50px 50px 50px;
			margin:50px;
		}
	</style>
</head>

<body  >
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
{% for msg in messages %}
swal("Sucess!",'{{ msg }}', "success");

{% endfor %}

</script>
	<div class="container">
		<div class="row">
			<div class="col-md"></div>

			<div class="col-md">
				<div class="card card-body">
					 <div class="text-center">
					<h3 style="color: white">PLEASE CLICK THE BUTTON TO CREATE PDF </h3>
					<p style="color: white"> ONCE YOU CLICKED PLEASE CLICK SEND BUTTON <br> </p>
					<a class="btn btn-info" href="/makepdf11/" target="_blank">Make Pdf</a>
					<a class="btn btn-info"  href="/sentmail/">send</a>
					</div>

				</div>
			</div>

			<div class="col-md"></div>
		</div>
	</div>


</body>
</html>



