<!DOCTYPE html>
<html lang="en" >
{% load  static %}
<head>
  <meta charset="UTF-8">
  <title>Anayser Login </title>
  <link rel="stylesheet" href="{% static 'login.css' %}">

</head>
<body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
{% for msg in messages %}
swal("Goodjob!",'{{ msg }}', "success");
{% endfor %}
</script>
<!-- partial:index.partial.html -->
<div class="container">
      <div class="login">
         <div class="container">
              <h1>ANALYSE LOGIN</h1>
             <form action="/analys_logi/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

              <input type="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email">
              <input type="password" placeholder="Password" autocomplete="off" name="password" style="width:400px; height:35px;"><br><br><br>
<!--              <input type="checkbox"><span>Remember me</span>-->
<!--              <a href="#">Forgot password?</a>-->
             <button style="text-align:center;"> <a href="/analysehome/"> <center style="text-align:center; margin-left:-400px; COLOR:WHITE;" >LOG IN</center> </a>  </button>
<!--              <hr><p>Or Connect With</p><hr>-->
              <ul>
<!--                  <li><i class="fab fa-facebook-f fa-2x"></i></li>-->
<!--                  <li><i class="fab fa-twitter fa-2x"></i></li>-->
<!--                  <li><i class="fab fa-github fa-2x"></i></li>-->
<!--                  <li><i class="fab fa-linkedin-in fa-2x"></i></li>-->
<!--              </ul>-->
<!--              <div class="clearfix"></div>-->
<!--              <span class="copyright">&copy;2019</span>-->
         </div>
      </div>
      <div class="register">
          <div class="container">
              <i class="fas fa-user-plus fa-5x"></i>
              <h2>Hello,friend!</h2>
              <p>Enter your personal details and start journey with us</p>
              <button style="background-color:white;"><i class="fas fa-arrow-circle-right"><a href="/analys_regis/">Register </a></i></button>
          </div>
          <button style="background-color:white;"><i class="fas fa-arrow-circle-right"><a href="/">Home</a></i>
      </div>
    </div>
<!-- partial -->
  <script src='https://kit.fontawesome.com/d2ed415255.js'></script>
</form>
</body>
</html>
