<!DOCTYPE html>
<html lang="en" >
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>Prediction</title>
    <head>
    <meta name="viewport" content="width=device-width ,initial-scale=1.0">
    <title>popup prediction </title>
    <link rel="stylesheet" href="{% static 'analyse/showpredicted/showpredicted.css' %}">

  <link rel="stylesheet" href="{% static 'analyse/predicted/predicted.css' %}">

</head>
<body>
<div class="container" >
        <button   type="submit" class="btn" onclick="openPopup()">submit</button>
        <div class="popup" id="popup" style="height: 500px; width: 800px; background-color: white; text-align:center;">
        <img src="{% static 'analyse/showpredicted/404-tick.png' %}">
<!--            <table style="width:710px; background-color: white;" >-->
<!--                <h1 style="background-color:white">Predicted</h1>-->
<!--                <tr>-->
<!--                <th style="text-align: center">name</th>-->
<!--                <th style="text-align: center">symptoms</th>-->
<!--                <th style="text-align: center">Dieases</th>-->
<!--                 </tr>-->

<!--            </table>-->
        <h2 style="background-color:white;">Thankyou</h2>
          {% for x in data %}

                <p>{{x.patientname}}</p>
                <p>{{x.pat_sym}}</p>
                <p>{{x.patdieases}}</p>

                {% endfor %}


<!--        <p style="background-color:white;">your details has been submitted sucessfully</p>-->
<!--        <button type="button">Ok</button>-->
<!--            <button style="background-color:grey;" type="button" onclick="closePopup()"  >ok</button>-->

    </div>

<!-- partial:index.partial.html -->
<!--<center><table>-->

<!--  <h1> Predicted Details </h1>-->
<!--  <thead>-->
<!--    <tr>-->
<!--&lt;!&ndash;      <th>s.no&ndash;&gt;-->
<!--      <th><center>Name</center>-->
<!--      <th><center>Email</center>-->
<!--      <th style="text-align:50%;"><center>Getdetails</center></th>-->

<!--  </thead>-->
<!--  <tbody>-->
<!--  {% for x in data %}-->
<!--    <tr>-->
<!--      <td>{{x.patientname}}-->
<!--      <td>{{x.email}}-->
<!--        <td style="font-size:25px;"> <a href="/showpredict/"> <button style="padding:4px 10px; font-size:14px;"   type="submit" class="btn" onclick="openPopup()">show</button></a></td>-->
<!--&lt;!&ndash;       <td> <a href="/show/{{x.id}}/">show</a></td>&ndash;&gt;-->
<!--    </tr>-->
<!--      <td><a href="/getdetails/{{x.id}}/"><button style="background-color:white;"><i class="fas fa-arrow-circle-right">getdetails </i></button></a>-->

<!--  {% endfor %}-->

<!--  </tbody>-->
<!--</table></center>-->
<!-- partial -->






<!--</div>-->
<script>
    let popup=document.getElementById("popup");

    function openPopup(){
    popup.classList.add("open-popup");
}
    function closePopup(){
    popup.classList.remove("open-popup");
}
</script>


</body>
</html>
